body {
  background-color: gray;
  color: white;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: darkblue;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}

.delete-form button {
  background-color: darkred;
  color: white;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid black;
}

li {
  list-style: none;
}